
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root{
  --primary:#8BC34A;
    --secondary:black;
}

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}


body{
    font-family: 'Merriweather', serif;
    height: 100Vh;
    overflow-x: hidden;
}

a{
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
    text-decoration: none;  
}

ul li {
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: inherit;
}

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background:linear-gradient(transparent,#555453);
    border-radius: 8px;
}


/* start preloader */
.loader_bg{
  position: fixed;
  z-index: 999999;
  background: #555453;
  width: 100%;
  height: 100%;

}

.loader{
  border:  0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
} 

.loader:before, .loader:after{
  content: '';
  border: 1em solid white;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}

.loader:before{
  animation-delay: .5s;
}

@keyframes loader {
  0%{
      transform: scale(0);
      opacity: 0;
  }

  50%{
      opacity: 1;
  }

  100%{
      transform: scale(1);
      opacity: 0;
  }
}
/* end preloder */


/* start top button */
.scroll-to-top{
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 20px;
  color: white;
  background:var(--primary);  
  border: none;  
  transition-duration: 500ms;
  z-index: 4000;
}

.scroll-to-top:hover{
  background: black;
}

@media (max-width:768px) {
  .scroll-to-top{
      right: 20px;
      bottom: 60px;
      width: 40px;
      height: 40px;
      z-index: 4000;
  }
}
/* end top button */

/* start design breadcamps */
.breadcamps .fa-chevron-right{
  margin: 5px;
  color: #707070;
}

.breadcamps a:hover{
  color: var(--primary);
}

.breadcamps .fa-home{
  margin: 5px;
}

.breadcamps p{
  color: #707070;
}

.breadcamps span{
  font-weight: bold;
  color: black;
}
/* end design breadcamp */
  
  /* start header */
  .content{
    /* max-width: 250px; */
    /* margin: auto; */
    padding: 0 30px;
  }
  .navbar{
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 25px 0;
    transition: all 0.3s ease;
    display: flow-root;
  }
  .navbar.sticky{
    background: #FAF9F6;
    padding: 0px;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
  }
  .navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar .logo a{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
  }
  .navbar .menu-list{
    display: inline-flex;
  }
  
  @media (min-width:768px){ 
    .navbar .menu-list{
        margin-right: 300px !important;
        margin-top: 37px;
    }
  }
  
  
  .menu-list li{
    list-style: none;
  }
  .menu-list li a{
    color: var(--secondary);
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  .menu-list li a:hover{
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
  }
  .banner{
    background: url("../image/landing-2.png") no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  @media (max-width:768px) {
    .banner{
      background: url("../image/landing-2.png") no-repeat;
      height: 100vh;
      background-size: contain;
      background-position:center center;
      background-attachment: fixed;
    }
  }
  .about{
    padding: 30px 0;
  }
  .about .title{
    font-size: 38px;
    font-weight: 700;
  }
  .about p{
    padding-top: 20px;
    text-align: justify;
  }
  .icon{
    color: var(--primary);
    font-size: 20px;
    cursor: pointer;
    display: none;
  }

  .menu-list .cancel-btn{
    position: absolute;
    left: 30px;
    top: 20px;
  }
  
  .social-icons{
    margin-right: 150px;
    margin-bottom: 18px;
    color: var(--secondary) !important;
  }

  .social-icons a :hover{
    color: var(--primary) !important;
    }
  
  .dropbtn {
    background: none;
    color: var(--secondary);
    font-size: 18px;
    font-weight: 400;
    margin-left: 20px;
    border: none;
  }

  @media (max-width:768px) {
    .dropbtn{
  margin-top: 50px;
  font-size: 21px;
  transition: 0.6s;
    }
  }

  .dropbtn:hover{
    color: var(--primary);
    /* border-bottom: 2px solid #007bff; */
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    white-space: nowrap !important;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color:var(--secondary);color: white;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background: none;}
  
  
  
  @media (max-width: 1230px) {
    .content{
      padding: 0 60px;
    }
  }
  @media (max-width: 1100px) {
    .content{
      padding: 0 40px;
    }
  }
  @media (max-width: 900px) {
    .content{
      padding: 0 30px;
    }
  }
  @media (max-width: 991px) {
    body.disabled{
      overflow: hidden;
    }
    .icon{
      display: block;
    }
    .icon.hide{
      display: none;
    }
    .navbar .menu-list{
      position: fixed;
      height: 100vh;
      width: 100%;
      max-width: 400px;
      left: 100%;
      top: 0px;
      display: block;
      padding: 40px 0;
      text-align: center;
      background: #222;
      transition: all 0.3s ease;
      overflow: scroll;
    }
    .navbar.show .menu-list{
      right: 0%;
    }
    .navbar .menu-list li{
      margin-top: 45px;
    }
    .navbar .menu-list li a{
      font-size: 23px;
      margin-left: 100%;
      color: white;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .navbar.show .menu-list li a{
      margin-left: 0px;
    }
    .social-icons{
      margin-right: 0px !important;
      margin-top: -26px;
      color: white !important;
  }

  .dropbtn {
    background: none;
    color: white;
    font-size: 23px;
    font-weight: 400;
    margin-left: 20px;
    border: none;
  }

  .social-icons .dropbtn {
    background: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-left: 20px;
    border: none;
  }

  }
  @media (max-width: 320px) {
    .navbar .logo img{
      font-size: 27px;
    }
  }

  /* end header */

  /* start image just to home page */
.image-to-home-page img{
  /* width: 100%; */
  height: 700px;
}

@media (max-width:768px) {
.image-to-home-page img{
  max-width: 100%;
  height: 300px;
}
}
/* end image just ti home page */

  /* start image to all pages without home page */
.image-to-other-pages img{
  /* width: 100%; */
  height: 500px;
}

@media (max-width:768px) {
  .image-to-other-pages img{
    max-width: 100%;
    height: 300px;
  }
}
/* end  image to all pages without home page */

  /* start about-us */
.about-us{
  margin-top: 60px;
}

.about-us h5{
font-size: 14px;
font-weight: 400;
color: #707070;
text-transform: uppercase;
letter-spacing: 2px;
}

.about-us span{
color: var(--primary);
}

.about-us h3{
  font-size: 36px;
  font-weight: 700;
  color: #303030;
}

.about-us p{
  font-size: 14px;
  font-weight: 400;
  color: #707070;
}

.about-us button{
  background-color:var(--primary);
  border: none;
  margin-top: 10px;
  padding: 10px 30px 10px 30px;
  text-transform: uppercase;
}

.about-us button:hover{
background-color: black;
}


.about-us .second-img{
  border-radius: 50%;
  width: 80%;
  /* height: 100%; */
}

@media (max-width:768px) {
  .about-us .second-img{
  text-align: center;
  width: 100%;
  margin-top: 40px;
  height: 340px;
  }
}

@media (max-width:320px) {
  .about-us .second-img{
  text-align: center;
  width: 100%;
  margin-top: 40px;
  height: 300px;
  }
}
/* end about-us */

/* start our-team */
.our-team{
  margin-top: 60px;
}

.our-team h5{
font-size: 20px;
font-weight: 400;
color: #444444;
line-height: 31px;
text-transform: uppercase;
letter-spacing: 2px;
/* border-bottom: 1px solid var(--primary);
width: 50%; */
}


.our-team h3{
  font-size: 60px;
  font-weight: 800;
  line-height: 69px;
  text-transform: uppercase;
  color: var(--primary);
}

@media (max-width:768px){
  .our-team h3{
    font-size: 30px;
    font-weight: 800;
    line-height: 69px;
    text-transform: uppercase;
    color: var(--primary);
}
}

.our-team p{
  font-size: 20px;
  font-weight: 400;
  color: #444444;
  line-height: 31px;
}

.our-team button{
  background-color:var(--primary);
  border: none;
  margin-top: 10px;
  padding: 10px 30px 10px 30px;
  text-transform: uppercase;
}

.our-team button:hover{
background-color: black;
}


.our-team .second-img{
  width: 100%;
  border-radius: 50%;
  height: 380px;
}

@media (max-width:768px) {
  .our-team .second-img{
  text-align: center;
  width: 100%;
  margin-top: 40px;
  height: 340px;
  }
}

@media (max-width:320px){
  .our-team .second-img{
    text-align: center;
    width: 100%;
    margin-top: 40px;
    height: 300px;
    }
}
/* end our-team */

/* start cards for teams */

.our-team-cards{
  margin-top: 50px;
}

.our-team-cards .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  display: block;
}

.our-team-cards .card:hover {
  background-color: var(--primary);
  border: none;
  color: white;
  }

.our-team-cards .title {
  color: grey;
  font-size: 18px;
}

.our-team-cards button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: var(--primary);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.our-team-cards a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.our-team-cards button:hover, a:hover {
  opacity: 0.7;
}
/* end cards for teams */

/* start testimonials */
.testimonials .paraghraph{
  margin-top: 70px;
  font-size: 20px;
  line-height: 31px;
  color: #444444;
  font-weight: 400;
}

.testimonials .paraghraph-2{
  font-size: 60px;
  line-height: 60px;
  color: #222222;
  font-weight: 300;
}

.testimonials span{
font-size: 60px;
line-height: 69px;
color: var(--primary);
font-weight: 800;
}
::selection{
  background: rgba(23,162,184,0.3);
}
.testimonials .wrapper{
  display: grid;
  height: 100%;
  place-items: center;
  background: var(--primary);
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.testimonials .wrapper .box{
  background: #fff;
  width: calc(33% - 10px);
  padding: 25px;
  border-radius: 3px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
}
.testimonials .wrapper .box i.quote{
  font-size: 20px;
  color: var(--primary);
}
.testimonials .wrapper .box .content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.testimonials .box .info .name{
  font-weight: 600;
  font-size: 17px;
}
.testimonials .box .info .job{
  font-size: 16px;
  font-weight: 500;
  color: var(--primary);
}
.testimonials .box .info .stars{
  margin-top: 2px;
}
.testimonials .box .info .stars i{
  color: var(--primary);
}
.testimonials .box .content .image{
  height: 75px;
  width: 75px;
  padding: 3px;
  color: var(--primary);
  border-radius: 50%;
}
.testimonials .content .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}
.testimonials .box:hover .content .image img{
  border-color: #fff;
}
@media (max-width: 1045px) {
  .testimonials .wrapper .box{
    width: calc(50% - 10px);
    margin: 10px 0;
  }
}
@media (max-width: 702px) {
  .testimonials  .wrapper .box{
    width: 100%;
  }
}
/* end testimonials */


/* start testimonials */
.testimonials{
  margin-top: 50px;
  }
  
  .testimonials .paraghraph{
  font-size: 20px;
  line-height: 31px;
  color: #444444;
  font-weight: 400;
  }
  
  .testimonials .paraghraph-2{
  font-size: 60px;
  line-height: 60px;
  color: #222222;
  font-weight: 400;
  }
  
  .testimonials span{
    color: var(--primary);
    font-weight: 800;
    line-height: 69px;
  }
  
  .testimonials .wrapper{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    margin-top: 30px !important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .testimonials .wrapper .box{
    background: #fff;
    width: calc(33% - 10px);
    padding: 25px;
    border-radius: 3px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
  }
  .testimonials .wrapper .box i.quote{
    font-size: 20px;
    color: var(--primary);
  }
  .testimonials .wrapper .box .content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
  }
  .testimonials .box .info .name{
    font-weight: 600;
    font-size: 17px;
  }
  .testimonials .box .info .job{
    font-size: 16px;
    font-weight: 500;
    color: var(--primary);
  }
  .testimonials .box .info .stars{
    margin-top: 2px;
  }
  .testimonials .box .info .stars i{
    color: var(--primary);
  }
  .testimonials .box .content .image{
    height: 75px;
    width: 75px;
    padding: 3px;
    background: var(--primary);
    border-radius: 50%;
  }
  .testimonials .content .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  .testimonials .box:hover .content .image img{
    border-color: #fff;
  }
  @media (max-width: 1045px) {
    .testimonials .wrapper .box{
      width: calc(50% - 10px);
      margin: 10px 0;
    }
  }
  @media (max-width: 702px) {
    .testimonials .wrapper .box{
      width: 100%;
    }
  }
  /* end testimonials */


  /* start contact-us */
.contact-us{
  background-color: var(--primary);
  margin-top: 50px;
}

.contact-us p{
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  font-weight: 400;
  margin-top: 20px;
}

.contact-us h4{
  font-size: 25px;
  font-weight: 700;
  line-height: 29px;
  color: #ffffff;
  text-transform: uppercase;
}

.contact-us button{
  border: none;
  margin-top: 50px;
  padding: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  float: left;
}
/* end contact-us */


/* start our-product */
.our-product{
  margin-top: 100px;
}

.our-product h5{
  font-size: 20px;
  font-weight: 400;
  color: #707070;
  text-transform: uppercase;
  letter-spacing: 2px; 
  
}

.our-product span{
  color: var(--primary);
}

.our-product h3{
  font-size: 36px;
  font-weight: 700;
  color: #303030;
}

.our-product .card{
  margin-top: 40px;
  border: none;
  cursor: pointer;
}

.our-product .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.our-product .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.our-product .card .p1{
  font-size: 16px;
  color: #707070;
  font-weight: 400;
  margin-top: 20px;
}

.our-product .card .p1:hover{
 color: var(--primary);
}

.our-product .card .p2{
  font-size: 18px;
  color: #303030;
  font-weight: 700;
  margin-top: -15px;
}

.our-product button{
  background-color:var(--primary);
  border: none;
  margin-top: 30px;
  padding: 10px 30px 10px 30px;
  text-transform: uppercase;
  left: 50%;
  right: 50%;
}

.our-product button:hover{
  background-color: black;
}

/* start our-product */


/* start latest articles */
.lastest-article{
  margin-top: 100px;
}

.lastest-article h5{
  font-size: 14px;
  font-weight: 400;
  color: #707070;
  text-transform: uppercase;
  letter-spacing: 2px; 
  
}

.lastest-article span{
  color: var(--primary);
}

.lastest-article h3{
  font-size: 36px;
  font-weight: 700;
  color: #303030;
}

.lastest-article .card{
  margin-top: 40px;
  border: none;
  cursor: pointer;
}

.lastest-article .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  transition: 0.3s;
}

.lastest-article .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
  background-color: var(--primary);
  color: white !important;
}

.lastest-article .card .p1{
  font-size: 16px;
  color: #707070;
  font-weight: 400;
  margin-top: 20px;
}

.lastest-article .card .p1:hover{
 color: var(--primary);
}

.lastest-article .card .p2{
  font-size: 18px;
  color: #303030;
  font-weight: 700;
  margin-top: -15px;
}

.lastest-article button{
  background-color:var(--primary);
  border: none;
  margin-top: 10px;
  padding: 10px 30px 10px 30px;
  text-transform: uppercase;
  left: 50%;
  right: 50%;
}

.lastest-article button:hover{
  background-color: black;
}

.lastest-article .card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: none;
  text-align: center;
}
/* end latest articles */

/* start footer */
.footer-top {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #212529;
  margin-top: 50px;
}

.footer-top a {
  color: white;
}

.footer-top a:hover {
  color: var(--primary);
}

.footer-top .icon-footer{
  color: var(--primary);
}
.footer-bottom {
  background-color: #212529;
  border-top: 1px solid gray;
}

.social-icons a:hover{
  color: var(--primary) !important;
}

/* end footer */



/* start design page contact us */
.contact-info{
  margin-top: 60px;
}

.contact-info h5{
font-size: 20px;
font-weight: 400;
color: #707070;
text-transform: uppercase;
letter-spacing: 2px;
}

.contact-info span{
color: var(--primary);
}

.contact-info h3{
  font-size: 36px;
  font-weight: 700;
  color: #303030;
}

.contact-info p{
  font-size: 14px;
  font-weight: 400;
  color: #707070;
}

.contact-info button{
  background-color:var(--primary);
  border: none;
  margin-top: 10px;
  padding: 10px 30px 10px 30px;
  text-transform: uppercase;
}

.contact-info button:hover{
background-color: black;
}


.contact-info .second-img{
  border-radius: 50%;
  width: 80%;
}

.contact-info i{
width: 70px;
height: 70px;
border-radius: 50%;
background-color: var(--primary);
font-size: 30px;
color: #fff;
align-items: center;
margin-bottom: 30px;
padding: 20px;
}

@media (max-width:768px) {
  .contact-info .second-img{
  text-align: center;
  width: 100%;
  margin-top: 40px;
  }
}

#hom-line {
      display: block;
      height: 2px;
      background-color: var(--primary);
      margin-top: 3em;
      margin-bottom: 3em;
      margin-left: auto;
      margin-right: auto;
      border-style: none;
      width: 80%;
  }
/* end design page contact us */


/* start contact-us */

.contact-us{
  margin-top: 60px;
}

.contact-us h5{
  font-size: 20px;
  font-weight: 400;
  color: #707070;
  text-transform: uppercase;
  letter-spacing: 2px; 
}

.contact-us span{
  color: var(--primary);
}

.contact-us h3{
  font-size: 36px;
  font-weight: 700;
  color: #303030;
}

.contact-us input[type=text], input[type=email], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.contact-us input[type=submit] {
  background-color:  #303030;
  color: white;
  padding: 12px 20px;
  border: none;
  display: block;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
}

.contact-us  input[type=submit]{

}

.contact-us  input[type=submit]:hover {
  background-color: black;
}


.contact-us .container {
  border-radius: 5px;
  padding: 20px;
}

.contact-us .map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  /* left: 10%; */
  }

  .contact-us .map-container iframe{
  left:0;
  top:0;
  right: 10px;
  height:90% !important;
  width:100% !important;
  position:absolute;
  border-radius: 5%;
  }

  @media (max-width:768px) {
      .contact-us .map-container{
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
        left: 0;
      } 
      
      .contact-us .map-container iframe{
          left:0;
          top:0;
          height:60% !important;
          width:100% !important;
          position:absolute;
          margin-top: 40px !important;
          }
      }
  
/* end contact-us */


/* start Blog page */

.blog .box-container{
  /* margin: auto; */
  margin-top: 20%;
  position: relative;
  width: 300px;
  height: 42px;
  border:1px solid var(--primary);
  padding: 0px 10px;
  border-radius: 50px;
  margin-bottom: 50px;
}  

.blog .box-container .elementsContainer{
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.blog .box-container .search{
  border: none;
  height: 100%;
  width: 100%;
  padding: 0px 5px;
  border-radius: 50px;
  font-size: 15px;
  color: #424242;
  font-weight: 500;
}

.blog .box-container .search:focus{
  outline: none;
}

.blog .box-container .searchicon{
  font-size: 17px;
  color: #717171;
}

.blog h1:hover{
color: var(--primary);
}

.blog  h5{
  font-weight: 700;
  line-height: 29px;
  color: #303030;
  font-size: 22px;
  /* margin-bottom: 20px;  */
}

.blog  li{
  list-style: none;
  border-bottom: 1px solid rgb(221, 219, 219);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #707070;
  padding: 10px;
}

.blog  li:hover{
  color: var(--primary);
}

.blog .desc{
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #2b2929;
}

.blog .text-description{
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #707070;
  line-height: 27px;
}

.blog .tags button{
 /* padding: 20px; */
 border: none;
 padding: 10px;
 margin-bottom: 10px;

}

.blog .tags button:hover{
  background-color: var(--primary);
}

.blog .best-products{
  font-size: 17px;
}

.blog .best-products2{
  font-size: 14px;
}

/* end Blog page */


/* start blog article */

.blog-article .blog-name img{
  max-width: 100%;
  height: 350px;
  }
  
  @media (max-width:768px) {
    .blog-article .blog-name img{
      width: 100%;
      height: 250px;
      }
  }


.blog-article .box-container{
  /* margin: auto; */
  margin-top: 20%;
  position: relative;
  width: 300px;
  height: 42px;
  border:1px solid var(--primary);
  padding: 0px 10px;
  border-radius: 50px;
  margin-bottom: 50px;
}  

.blog-article .box-container .elementsContainer{
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.blog-article .box-container .search{
  border: none;
  height: 100%;
  width: 100%;
  padding: 0px 5px;
  border-radius: 50px;
  font-size: 15px;
  color: #424242;
  font-weight: 500;
}

.blog-article .box-container .search:focus{
  outline: none;
}

.blog-article .box-container .searchicon{
  font-size: 17px;
  color: #717171;
}

.blog-article  h5{
  font-weight: 700;
  line-height: 29px;
  color: #303030;
  font-size: 22px;
}

.blog-article  li{
  list-style: none;
  border-bottom: 1px solid rgb(221, 219, 219);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #707070;
  padding: 10px;
}

.blog-article  li:hover{
  color: var(--primary);
}

.blog-article .desc{
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #2b2929;
}

.blog-article .text-description{
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #707070;
  line-height: 27px;
}

/* end blog article */



/* start our product */
.our-product{
  margin-top: 100px;
}

.our-product h5{
  font-size: 14px;
  font-weight: 400;
  color: #707070;
  text-transform: uppercase;
  letter-spacing: 2px; 
  
}

.our-product span{
  color: var(--primary);
}

.our-product h3{
  font-size: 36px;
  font-weight: 700;
  color: #303030;
}

.our-product .card{
  margin-top: 40px;
  border: none;
  cursor: pointer;
}

.our-product .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.our-product .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.our-product .card .p1{
  font-size: 16px;
  color: #707070;
  font-weight: 400;
  margin-top: 20px;
}

.our-product .card .p1:hover{
 color: var(--primary);
}

.our-product .card .p2{
  font-size: 18px;
  color: #303030;
  font-weight: 700;
  margin-top: -15px;
}

.our-product button{
  background-color:var(--primary);
  border: none;
  margin-top: 10px;
  padding: 10px 30px 10px 30px;
  text-transform: uppercase;
  left: 50%;
  right: 50%;
}

.our-product button:hover{
  background-color: black;
}

/* end our product */



/* start product details */
.prooooooduct .product-name img{
  max-width: 100%;
  height: 350px;
  }
  
  @media (max-width:768px) {
    .prooooooduct .product-name img{
      width: 100%;
      height: 350px;
      }
  }

.prooooooduct .box-container{
  /* margin: auto; */
  margin-top: 20%;
  position: relative;
  width: 300px;
  height: 42px;
  border:1px solid var(--primary);
  padding: 0px 10px;
  border-radius: 50px;
  margin-bottom: 50px;
}  

.box-container .elementsContainer{
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.box-container .search{
  border: none;
  height: 100%;
  width: 100%;
  padding: 0px 5px;
  border-radius: 50px;
  font-size: 15px;
  color: #424242;
  font-weight: 500;
}

.box-container .search:focus{
  outline: none;
}

.box-container .searchicon{
  font-size: 17px;
  color: #717171;
}

.prooooooduct h5{
  font-weight: 700;
  line-height: 29px;
  color: #303030;
  font-size: 22px;
  /* margin-bottom: 20px;  */
}

.prooooooduct li{
  list-style: none;
  border-bottom: 1px solid rgb(221, 219, 219);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #707070;
  padding: 10px;
}

.prooooooduct li:hover{
  color: var(--primary);
}

.prooooooduct .desc{
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #2b2929;
}

.prooooooduct .text-description{
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #707070;
  line-height: 27px;
}

/* end product details */

/* start terms & Conditions */
.terms-conditions{
  margin-top: 40px;
}

.terms-conditions p{
  font-size: 14px;
  color: #444444;
}
/*  end terms & Conditions*/
